@import '_variables.scss';
@import '_timetable.scss';
@import '_tooltip.scss';

.v-content {
  max-width: 1020px;
  width: 100%;
  margin: 0 auto;
}

button.v-btn {
  margin: 0;
  text-transform: none;
  min-width: 0;
}

.submit {
  margin-top: 10px;
}

nav {
  font-size: 0;
}

nav div,
nav span {
  font-size: 16px;
}

nav .v-btn {
  font-size: 16px;
}

h1 {
  font-size: 23px;
}

.v-toolbar a {
  color: $dark_gray1;
  text-decoration: none;
  text-transform: uppercase;
}

.v-toolbar a,
.v-toolbar span {
  font-size: 14px;
}

.v-list__tile {
  height: 38px;
}