.project-row {
  margin-top: 10px;  
  line-height: 1.4;
}

table {
  border-collapse: collapse;
}

table span {
  display: block;
  font-weight: normal;
}

.times-table-footer td,
th {
  padding: 12px 8px;
  background: #e8e8e8;
  text-shadow: 0 1px 0 #fff;
}

.times-table-footer td {
  min-width: 44px;
}

.times-table-footer,
.project-row {
  width: 800px;
}

th span {
  font-size: 12px;
}

td {
  padding: 2px 8px;
}

td.today {
  background: #e8e8e8;
}

tr td:first-child,
tr th:first-child {
  width: 260px;
}

.rowDescription {  
  font-size: 13px;
}

.rowTotal {
  width: 60px;
  text-align: right;
}

.project-row tr:first-child + tr td {
  border: none;
}

.v-custom-text-field.v-text-field .v-input__slot {
  padding: 0;
  margin: 0;
  min-height: 0;
  border-width: 1px !important;
  border-color: #bbb;
  border-radius: 2px;
}

.v-custom-text-field.v-text-field input {
  width: 41px;
  padding: 2px 5px;
  margin: 0;
}

.v-text-field__details {
  display: none;
}

button.v-btn {
  margin-left: 0;
}

.submit {
  margin-top: 10px;
}